.section {
  min-width: 250px;
  opacity: 0.8;
  padding: 64px;
  max-height: 100vh;
  height: 100%;
}

.section__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section__card-container {
  max-height: 70vh;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.section__card {
  margin: 16px 0px;
}

#btsp .section__list-item {
  display: flex;
  align-items: flex-end;
  border: none;
  border-bottom: 2px dotted gray;
  padding: 16px 0px 0px 0px;
  justify-content: space-between;
}

#btsp .section__list-item--no-border {
  border: none;
  display: flex;
}

.section__list-item--checked {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .section {
    padding: 16px;
  }

  #btsp .card-body {
    padding: 0;
  }
}
